<h1 style="align-items: center">Create new Category</h1>
<div style="justify-content: center">
  <%= render 'form' %>
</div>

<div>
  <%= link_to '[Cancel and return to Category listing]', category_path(@category) %>
</div>
